<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Optimize Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--  Optimize page hiding script should be located first. -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-KPX6DV8':true});</script>
    <!--  Then GA + Optimize script comes. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92183754-1', 'auto'); // GA property ID
      ga('require', 'GTM-KPX6DV8'); // Optimize container ID
      ga('send', 'pageview');
    </script>

    <style>
      html, body {
        height: 100%;
      }
      body {
        margin: 0;
        min-height: 100%;
      }
      .site-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        min-height: 100%;
      }
      .site-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">My Website</i></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="inner cover">
            <h1 class="cover-heading">Multivariate Test</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum elementum lorem ac scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed velit dui, ornare at odio sed, lobortis pharetra turpis. Cras venenatis interdum ex, placerat egestas nisl. Fusce vel est lobortis, laoreet mi nec, egestas enim. </p>
            <p class="lead">
              <a href="#">
                <button id="learn-more" type="button" name="button" class="btn btn-lg btn-default">Learn more</button>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
